@import "index"

.form
    width: 100%
    background-color: $grey1
    padding: 1.5em
    border-radius: 0.5em
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    position: relative
    h1
        margin: 0
        margin-bottom: 1em
        color: $light0
    input
        width: 100%

    .wrapper-top
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        #type

        #description
            margin-right: 1em
            width: 100%
    .wrapper-bottom
        display: flex
        width: 100%
        #category
            border-radius: 0.25em
            margin-right: 1em
        #date
            border-radius: 0.25em
            margin-right: 1em
        #amount
            border-radius: 0.25em
    .wrapper-resp
        display: none

    .buttons
        display: flex
        .button
            padding: 0.75rem 4.5rem 0.75rem 4rem
            background-color: $blue
            border-color: $blue
            svg
                font-size: 1.75em

            &:hover
                color: $light0
                transform: scale(1.05)
            &:nth-child(2)
                padding: 0.75rem
                margin-left: 0.5em
                background-color: $red
                border-color: $red

    //Close Icon
    .close-icon
        position: absolute
        color: $light0
        right: 0.5em
        top: 0.5em
        font-size: 2.5em
        cursor: pointer

    @media screen and ( max-width: 550px )
        .wrapper-top
            #type
                display: none
            #description
                margin-right: 0
        .wrapper-bottom
            #amount
                display: none
            #date
                margin-right: 0
                min-width: 0
        .wrapper-resp
            width: 100%
            display: flex
            align-items: center
            justify-content: space-between
            #type
                margin-right: 1em
        