@import "./index"

.home
    width: 100%
    min-height: 100vh
    background-color: $grey0
    display: grid
    place-items: center
    color: $light0
    overflow: hidden
    //Add Button
    .buttons
        width: 100%
        margin-bottom: 2em
        border-radius: 0 0 0.5em 0.5em
        overflow: hidden
        display: flex
        .button
            height: 3em
            display: flex
            align-items: center
            justify-content: center
            background-color: $grey3
            color: $grey0
            font-weight: 600
            transition: all 0.4s ease
            font-size: 1.1em
            cursor: pointer
            .icon
                display: flex
                align-items: center
                justify-content: center
                font-size: 1.5em
                margin-right: 0.25em
            &:hover
                opacity: 0.9
        #abm

            flex: 0.4
        #home
            flex: 0.4
        #logout
            background-color: $red
            flex: 0.2
    //Container
    .container
        width: 90%
        max-width: 40vw
        height: 100%
        min-width: 30em

        //Balance
        .balance
            padding: 0 2em
            width: 100%
            height: 8em
            background-color: $grey1
            border-radius: 0.66em
            display: flex
            align-items: center
            justify-content: space-between

            //Text
            .text
                font-size: 1.5em
                font-weight: 600
                span
                    font-weight: 400

            //Current Balance
            .amount
                font-size: 2em
                font-weight: 600

        //Items
        .items
            margin-top: 3em
            width: 100%
            height: auto

            // Section Title
            h1
                font-size: 1.5em
                font-weight: 600

            //Transaction Item
            .item
                padding: 1.5em 2em
                margin-bottom: 1em
                width: 100%
                background-color: $grey1
                border-radius: 0.66em
                display: flex
                align-items: center
                justify-content: space-between
                transition: all 0.4s ease

                .wrapper-left
                    //Title
                    .title
                        font-size: 1.5em

                    //Type
                    .type
                        margin-top: 0.5em
                        padding: 0.25em 1em
                        border-radius: 0.33em
                        border: 1px solid $light0
                        text-transform: uppercase
                        transition: all 0.4s ease
                        &:hover
                            color: $grey0
                            background-color: $light0

                .wrapper-right
                    display: flex
                    flex-direction: column
                    align-items: flex-end
                    //Amount
                    .amount
                        font-size: 1.5em
                        color: $green
                        &::before
                            content: "+"
                    .negative
                        color: $red
                        &::before
                            content: "-"

                    //Date
                    .date
                        margin-top: 0.35rem
                        display: flex
                        align-items: flex-end
                        display: block
                        color: $grey3

                //Item Hover
                &:hover
                    background-color: $grey2
                    transform: scale(1.025)

    //Media Queries
    @media screen and ( max-width: 768px )
        display: flex
        align-items: center
        justify-content: center
        .buttons
            display: none
        .container
            width: 90%
            max-width: none
            min-width: 0
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
