//Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap')

//Colors
$grey0: #131a22
$grey1: #1c293a
$grey2: #576574
$grey3: #8395a7
$green: #1dd1a1
$light0: #e2e2e2
$red: #ee5253

body
    font-family: "Poppins", sans-serif
    color: $grey0
