@import "./index"

.login
    width: 100vw
    height: 100vh
    background-color: $grey0
    display: grid
    place-items: center

    .card
        width: 90%
        max-width: 30rem
        height: 90%
        max-height: 30rem
        background-color: $grey1
        border-radius: 1em
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
