@import "index"

.container
    margin: 0 auto
    .navbar
        width: 100%
        margin: 2em 0

        overflow: hidden
        display: flex
        .button
            height: 3em
            display: flex
            align-items: center
            justify-content: center
            background-color: $grey3
            color: $grey0
            font-weight: 600
            transition: all 0.4s ease
            font-size: 1.1em
            cursor: pointer
            margin-right: 1em
            border-radius: 0.25em
            .icon
                display: flex
                align-items: center
                justify-content: center
                font-size: 1.5em
                margin-right: 0.25em
            &:hover
                filter: brightness(1.2)

        #abm

            flex: 0.4
        #home
            flex: 0.4
        #logout
            background-color: $red
            flex: 0.2
            padding: 0 0.5em
            margin: 0

    @media screen and ( max-width: 425px )
        border-radius: 0.5em
        #logout
            .text
                display: none
